<html>
<head>
    <title>My Resume</title>
<style>
    body{
        background-image: url("bg.jpg");
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
        color: #dddddd;
        font-size: 20px;
    }
    h2{
        color: whitesmoke;
        text-align: center;
    }
    h4{
        text-align: center;
        color: wheat;
        font-size: 20px;
    }
</style>
</head>
<body>
<h1 style="text-align: center">My Resume</h1>
<br><br>
<div style="padding-left: 10%; padding-right: 10%">
    <table>
        <tr>
            <td>Name</td>
            <td>Sarvadnya Bhadale</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>A/104 Meghsparsh Bibawadi Pune 411031</td>
        </tr>
        <tr>
            <td>Date Of Birth</td>
            <td>26/09/1996</td>
        </tr>
        <tr>
            <td>School</td>
            <td>S.P.m English Medium School</td>
        </tr>
        <tr>
            <td>College</td>
            <td>N.M.V Girls HighSchool & Junior College</td>
        </tr>

        </table>
</div>
<br><br><br>
<h2>Academics</h2>
<div style="padding-left: 10%; padding-right: 10%">
    <table>
        <tr>
            <td rowspan="2">S.P.M English Medium School</td>
            <td>10th std</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>12th std</td>
            <td>89.99%</td>
        </tr>
        <tr>
            <td rowspan="2">VIT Pune</td>
            <td>1st Year</td>
            <td>8.3</td>
        </tr>
        <tr>
            <td>2nd Year</td>
            <td>7.4</td>
        </tr>
        </table>
</div>
<br><br>
<div style="padding-left: 10%; padding-right: 10%">
   <h2>Hobbies</h2>
    <ul>
        <li>
            <h4> Playing Badminton</h4>
        </li>
        <li>
            <h4> Reading Books</h4>
        </li>
    </ul>
</div>
</body>
</html>